<% include components/header.ejs %>
<article class="c-details">
  <section class="u-primary">
    <ul class="c-breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><%= page.title %></li>
    </ul>
    <div class="c-headed-text">
      <h1><a href=""><%= page.title %></a></h1>
      <div class="c-details__intro divider">
        <%- page.introduction %>
      </div>
    </div>
    <dl class="c-details__infosheet">
      <dt>Cost:</dt>
      <dd>
        <div class="info">
          <%- page.cost.info %>
        </div>
      </dd>
      <dt>Helpline:</dt>
      <dd>
        <div class="info">
          <%- page.helpline.info %>
        </div>
      </dd>
    </dl>
  </section>
  <aside class="u-secondary c-more-info">
    <% if (page.pros) { %>
    <div class="c-more-info__pros">
      <h2>Pros:</h2>
      <ul>
        <% page.pros.forEach(function(pro, i) { %>
          <li><i class="fa fa-check"></i><div><%- pro.text %></div></li>
        <% }) %>
      </ul>
    </div>
    <% } if (page.cons) { %>
    <div class="c-more-info__cons">
      <h2>Cons:</h2>
      <ul>
        <% page.cons.forEach(function(con, i) { %>
          <li><i class="fa fa-close"></i><div><%- con.text %></div></li>
        <% }) %>
      </ul>
    </div>
    <% } if (page.other) { %>
      <div class="c-more-info__other">
        <%- page.other %>
      </div>
    <% } %>
    <% if(page.process_image_link) { %>
    <div class="c-process-chart">
      <h2><%= page.title %> process chart</h2>
      <img class="c-lightbox" data-src="<%= page.process_image_link %>" src="<%= page.process_image_link %>" alt="<%= page.title %> process chart">
    </div>
    <% } %>
  </aside>
</article>
<% include components/footer.ejs %>
