<% include components/header.ejs %>
<article class="c-details">
  <section class="u-primary">
    <ul class="c-breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><%= page.title %></li>
    </ul>
    <div class="c-headed-text">
      <h1><a href=""><%= page.title %></a></h1>
      <div class="c-body-copy divider">
        <%- page.body_copy %>
      </div>
    </div>
    <dl class="c-details__infosheet">
      <dd class="c-cost">
        <div class="c-cost__scale">
          <img src="<%= page.cost.image_link %>" alt="The scale can range from quite low to very high"/>
          <span class="c-cost__scale__label">0</span>
          <span class="c-cost__scale__label">&pound;100k</span>
        </div>
        <div class="c-cost__info">
          <%- page.cost.info %>
        </div>
      </dd>
      <dt>Helpline:</dt>
      <dd>
        <div class="info">
          <%- page.helpline.info %>
        </div>
      </dd>
    </dl>
  </section>
  <aside class="u-secondary">
    <div class="c-proscons">
      <% if (page.pros) { %>
      <div class="c-proscons__pros">
        <h2>Pros:</h2>
        <ul>
          <% page.pros.forEach(function(pro, i) { %>
            <li><i class="fa fa-check"></i><div><%- pro.text %></div></li>
          <% }) %>
        </ul>
      </div>
      <% } if (page.cons) { %>
      <div class="c-proscons__cons">
        <h2>Cons:</h2>
        <ul>
          <% page.cons.forEach(function(con, i) { %>
            <li><i class="fa fa-close"></i><div><%- con.text %></div></li>
          <% }) %>
        </ul>
      </div>
    <% } %>
    </div>
    <% if(page.process_image_link) { %>
    <div class="c-process-chart">
      <h2><%= page.title %> process chart</h2>
      <img class="c-lightbox" data-src="<%= page.process_image_link %>" src="<%= page.process_image_link %>" alt="<%= page.title %> process chart">
    </div>
    <% } %>
  </aside>
</article>
<% include components/footer.ejs %>
