<% include layouts/header.ejs %>
<div class="full">
  <div class="u-primary">
    <% include components/headed-text.ejs %>
  </div>
  <div class="u-secondary u-secondary--no-top-margin">
    <% include components/quick-links.ejs %>
  </div>
</div>
<div class="full">
   <div class="c c-who-is-involved c-who-is-involved--legend">
     <h2>Key:</h2>
     <ul>
       <li class="parentguardian">Parent/Guardian</li>
       <li class="mediator">Mediator</li>
       <li class="lawyersolicitor">Lawyer/Solicitor</li>
       <li class="judgecourt">Judge/Court</li>
     </ul>
   </div>
   <ul class="c c-article-list">
  <% pages.forEach(function(page, i) { %>
    <li>
      <section class="c-article-list__summary divider">
        <div class="u-primary">
          <div class="c c-body-copy">
            <h1><a href="<%= page.slug %>"><%= page.title %></a></h1>
            <%- page.introduction %>
          </div>
          <% if (page.usp_callout) { %>
            <% include components/usp-callout.ejs %>
          <% } %>
          <% if (page.cost.info) { %>
          <% include components/cost.ejs %>
          <% } %>
        </div>
        <aside class="u-secondary u-secondary--no-top-margin">
        <% if (page.who_is_involved.length > 0) { %>
          <div class="c c-who-is-involved">
            <h2>Who's involved</h2>
            <ul>
              <% page.who_is_involved.forEach(function(wii) {
                if(wii.value > 0) {
                  for(var i = 0; i<wii.value;i++) { %>
                    <li class="<%= wii.slug %>"><span class="tooltip"><%= wii.key %></span></li>
                  <% }
                }
              })%>
            </ul>
          </div>
          <% } %>
          <% if (page.pros.length > 0 || page.cons.length > 0) { %>
            <% include components/pros-cons.ejs %>
          <% } %>
        </aside>
      </section>
    </li>
  <%}) %>

   </ul>
</div>
<% include layouts/footer.ejs %>
