<% include components/header.ejs %>
<div class="full divider">
  <div class="c c-headed-text u-primary">
    <h1><%= content.title %></h1>
    <%- content.introduction %>
  </div>
  <div class="c c-quick-links u-secondary">
    <ul>
      <% content.quicklinks.forEach(function(ql) { %>
        <li>
          <a href="<%= ql.url%>"><%= ql.name %></a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
<div class="full">
   <ul class="c c-article-list">
  <% pages.forEach(function(page, i) { %>
    <li>
      <section class="c-article-list__summary divider">
        <div class="u-primary">
          <h1><a href="<%= page.slug %>"><%= page.title %></a></h1>
          <%- page.introduction %>
          <div class="c-usp-callout">
            <blockquote>
              <%- page.usp_callout %>
            </blockquote>
          </div>
          <dl class="c-details__infosheet">
            <dt>Cost:</dt>
            <dd class="c-cost">
              <div class="c-cost__scale">
                <img src="<%= page.cost.image_link %>" alt="The scale can range from quite low to very high"/>
                <span class="c-cost__scale__label">0</span>
                <span class="c-cost__scale__label">&pound;100k</span>
              </div>
              <div class="c-cost__info">
                <%- page.cost.info %>
              </div>
            </dd>
          </dl>
        </div>
        <aside class="u-secondary c-more-info">
        <% if (page.pros) { %>
        <div class="c-more-info__pros">
          <h2>Pros:</h2>
          <ul>
            <% page.pros.forEach(function(pro, i) { %>
              <li><i class="fa fa-check"></i><div><%- pro.text %></div></li>
            <% }) %>
          </ul>
        </div>
        <% } if (page.cons) { %>
        <div class="c-more-info__cons">
          <h2>Cons:</h2>
          <ul>
            <% page.cons.forEach(function(con, i) { %>
              <li><i class="fa fa-close"></i><div><%- con.text %></div></li>
            <% }) %>
          </ul>
        </div>
        <% } if (page.other) { %>
          <div class="c-more-info__other">
            <%- page.other %>
          </div>
        <% } %>
        </aside>
      </section>
    </li>
  <%}) %>

   </ul>
</div>
<% include components/footer.ejs %>
