<% include components/header.ejs %>
<div class="full divider">
  <div class="c c-headed-text u-primary">
    <h1>Your options for making child arrangements</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptatum, aperiam dignissimos nihil quo sed blanditiis molestias ratione, totam debitis commodi! Nihil error, enim accusantium quia doloribus ullam, quisquam mollitia!</p>
  </div>
  <div class="c c-quick-links u-secondary">
    <ul>
      <li><a href="">Worried about your child's safety?</a></li>
      <li><a href="">Am I eligible for legal aid?</a></li>
      <li><a href="">Make a plan for your child arrangements</a></li>
      <li><a href="">Your rights and responsibilities as a parent</a></li>
    </ul>
  </div>
</div>
<div class="full">
   <ul class="c c-article-list">
  <% pages.forEach(function(page, i) { %>
    <li>
      <section class="c-article-list__summary divider">
        <div class="u-primary">
          <h1><a href="<%= page.slug %>"><%= page.title %></a></h1>
          <%- page.introduction %>
          <dl class="c-details__infosheet">
            <dt>Cost:</dt>
            <dd>
              <ul class="c-details__infosheet__scale">
                <%# TODO: This needs refactoring! %>
                <%
                    switch(page.cost.scale) {
                      case 1:
                %>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <%
                      break;
                      case 2:
                      %>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <%
                      break;
                      case 3:
                      %>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <%
                      break;
                      case 4:
                      %>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x"></i>
                      </li>
                      <%
                      break;
                      case 2:
                      %>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <li class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-gbp fa-stack-1x fa-inverse"></i>
                      </li>
                      <%
                      break;
                   } %>
              </ul>
              <div class="info">
                <%- page.cost.info %>
              </div>
            </dd>
            <dt>Duration:</dt>
            <dd>
              <div class="info">
                <%- page.duration.info %>
              </div>
            </dd>
            <dt>Helpline:</dt>
            <dd>
              <div class="info">
                <%- page.helpline.info %>
              </div>
            </dd>
          </dl>
        </div>
        <aside class="u-secondary c-more-info">
        <% if (page.pros) { %>
        <div class="c-more-info__pros">
          <h2>Pros:</h2>
          <ul>
            <% page.pros.forEach(function(pro, i) { %>
              <li><i class="fa fa-check"></i><div><%- pro.text %></div></li>
            <% }) %>
          </ul>
        </div>
        <% } if (page.cons) { %>
        <div class="c-more-info__cons">
          <h2>Cons:</h2>
          <ul>
            <% page.cons.forEach(function(con, i) { %>
              <li><i class="fa fa-close"></i><div><%- con.text %></div></li>
            <% }) %>
          </ul>
        </div>
        <% } if (page.other) { %>
          <div class="c-more-info__other">
            <%- page.other %>
          </div>
        <% } %>
        </aside>
      </section>
    </li>
  <%}) %>

   </ul>
</div>
<% include components/footer.ejs %>
